<!doctype html>
<html>
<head>
     <title>Appy app Engine</title>
</head>
<body>
    <h3>The Hello word is incremented successfully!!</h3>
    <a href="https://heroic-vine-259119.appspot.com/">Check count</a><br>
    <a href="https://heroic-vine-259119.appspot.com/hello">Increment count again</a><br>
    <a href="https://heroic-vine-259119.appspot.com/resetTimesHelloed">Reset Count</a>
</body>

</html>