<!doctype html>
<html>
<head>
     <title>Appy app Engine</title>
</head>
<body>
    <h3>The number of times HELLO word is called = <%= timesHelloed %></h3>
    <a href="https://heroic-vine-259119.appspot.com/">Check count again</a><br>
    <a href="https://heroic-vine-259119.appspot.com/hello">Increment Count</a><br>
    <a href="https://heroic-vine-259119.appspot.com/resetTimesHelloed">Reset Count</a>
</body>
</html>