<!doctype html>
<html>
<head>
     <title>Appy app Engine</title>
</head>
<body>
    <h3>The times hello is called is resetted successfully!!</h3>
    <a href="https://heroic-vine-259119.appspot.com/">Check count</a><br>
    <a href="https://heroic-vine-259119.appspot.com/hello">Increment Count</a><br>
    <a href="https://heroic-vine-259119.appspot.com/resetTimesHelloed">Reset Count</a>
</body>
</html>